__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
*.egg

.ipynb_checkpoints/
*.ipynb_checkpoints

.env
.venv
env/
venv/
ENV/

.DS_Store
Thumbs.db
desktop.ini

*.log
*.tmp

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.claude/
